
.container {
    width: 80%;
    margin: 0 auto;
    position: relative;
    z-index: 1000;
    .backbutton {
        position: fixed;
        width: 50px;
        height: 50px;
        background-color: $maincolor;
        border-radius: 50%;
        top: 110%;
        right: 3%;
        z-index: 1000;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0;
        transition: opacity 1s, top 1s;
    }
    .backbtn_show {
        opacity: 1;
        top: 85%;
    }
    .header {
        width: 80%;
        height: 50px;
        background: rgba(196, 196, 196, 0.35);
        margin: 0 auto;
        &_ul {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 100%;
            padding-left: 10%;
            padding-right: 10%;
            &__item {
                list-style-type: none;
                cursor: pointer;
                &:hover {
                    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                }
                &:active {
                    text-decoration: none;
                }
                a {
                    text-decoration: none;
                    color: black;
                }
            }
        }
    }
}
